@import 'variables';

.container {
  margin: 0 auto;
  padding: $size-xxxs;
  max-width: $w-container;
  width: 100%;
}

.row {
  display: flex;
}

.button {
  margin: $size-xxxxs;
  padding: $size-xxxxs $size-xxxs;
  border: 1px solid;
  border-radius: $border-radius;
  background-color: $c-btn-btn;
  color: $c-text;
  cursor: pointer;
  transition: color $trans, background-color $trans;

  &.is-active {
    background-color: $c-btn-active-btn;
    color: $c-text-active;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    color: $c-text-active;
  }
}

.link {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__label {
    margin: $size-xxxxs;
    padding: $size-xxxxs $size-xxxs;
    background-color: $c-label;
    color: $c-label-text;
  }
}
