@import 'variables';

.container {
  margin: 0 auto;
  padding: $size-xxxs;
  max-width: $w-container;
  width: 100%;
}

.row {
  display: flex;
}

.button {
  margin: $size-xxxxs;
  padding: $size-xxxxs $size-xxxs;
  border: 1px solid;
  border-radius: $border-radius;
  background-color: $c-btn-btn;
  color: $c-text;
  cursor: pointer;
  transition: color $trans, background-color $trans;

  &.is-active {
    background-color: $c-btn-active-btn;
    color: $c-text-active;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    color: $c-text-active;
  }
}

.link {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__label {
    margin: $size-xxxxs;
    padding: $size-xxxxs $size-xxxs;
    border-radius: $border-radius;
    background-color: $c-label;
    color: $c-label-text;
    text-decoration: none;
    font-weight: 600;
    transition: transform 100ms;
    transform: translateY(0);

    backface-visibility: hidden;

    &:hover {
      transform: translateY(1px);
    }

    &__wog {
      background-color: $c-wog;
      color: $c-wog-text;
    }

    &__green {
      background-color: $c-green;
    }

    &__move {
      background-color: $c-move;
      color: $c-move-text;
    }

    &__omg {
      background-color: $c-omg;
      box-shadow: inset 0 0 0 1px $c-omg-text;
      color: $c-omg-text;
    }

    &__msn {
      color: $c-msn-text;
    }
  }
}

.link {
  margin: $size-xxxxs;
  padding: $size-xxxxs $size-xxxs;
}
