// Colors
$c-text: #666;
$c-text-active: #000;
$c-text-light: #fff;
$c-btn-btn: #fff;
$c-btn-active-btn: #eee;
$c-label: #333;
$c-label-text: #eee;

// Sizes
$size-xxxxs: 5px;
$size-xxxs: 10px;

$w-container: 1200px;

$border-radius: 3px;

$trans: 300ms;