// Colors
$c-text: #666;
$c-text-active: #000;
$c-text-light: #fff;
$c-btn-btn: #fff;
$c-btn-active-btn: #eee;
$c-label: #333;
$c-label-text: #eee;

$c-wog: #f4ce00;
$c-wog-text: #372a33;
$c-green: #5dc68c;
$c-move: #282828;
$c-move-text: #58c054;
$c-omg: #fff;
$c-omg-text: #2f2f46;
$c-msn-text: #f1f1f1;

// Sizes
$size-xxxxs: 5px;
$size-xxxs: 10px;

$w-container: 1200px;

$border-radius: 3px;

$trans: 300ms;